@model TripTrack.ViewModel.AddDestinationViewModel


<html>
<head>
    <title>TripTrack</title>
</head>
<body>
    <div>
        <form>
            <label>First Name</label>
            <input type="text" name="first"><br />
            <label>Last Name</label>
            <input type="text" name="last"><br />

            <input type="submit" value="submit" />
        </form>
    </div>
</body>
<br />
          

  <h1></h1>
            <h1>Destination</h1>

            <form asp-controller="Destination" asp-action="Add" method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Trip "></label>
                    <input class="form-control" asp-for="Trip" />
                </div>

                <div class="form-group">
                    <label asp-for="Date">Date</label>
                    <input class="form-control" asp-for="Date" />
                </div>

                <div class="form-group">
                    <label asp-for="Location">Location</label>
                    <input class="form-control" asp-for="Location" />
                </div>


                <div class="form-group">
                    <label asp-for="Airline"></label>
                    <input class="form-control" asp-for="Airline" />
                </div>

                <div class="form-group">
                    <label asp-for="Hotel"></label>
                    <input class="form-control" asp-for="Hotel" />
                </div>

                <div class="form-group">
                    <label asp-for="RentaCar"></label>
                    <input class="form-control" asp-for="RentaCar" />
                </div>

                <div class="form-group">
                    <label asp-for="Code"></label>
                    <input class="form-control" asp-for="Code" />
                </div>



                <input type="submit" value="submit" />


            </form>





